
@{
    ViewBag.Title = "AboutUS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pageAboutUS">
    <div class="shapse shapseLeft"></div>
    <div class="shapse shapseRight"></div>  
    <p class="pageAboutUS_text">Our website aims to bring joy to everyone, help everyone Have a great video watching experience</p>
</div>